*{
	padding: 0px;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
  }
  body{
	font-family: montserrat;
	background-color: #b2b9be;

  }

  nav{
	background: #fbfbfb;
	height: 80px;
	width: 100%;
	

  }
  .header-white {
	padding: 30px;
	text-align: center;
	color: white;
	font-size: 50px;
  }
  .header-black {
	
	text-align: center;
	color: black;
	font-size: 50px;
  }
  label.logo{
	color: rgb(10, 9, 9);
	font-size: 30px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	font-family: 'Great Vibes', cursive;
  }
  nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top:0;
	float: right;
	margin-right: 20px;
	
  }
  nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
  }
  nav ul li a{
	color: rgb(10, 10, 10);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
  }
  a.active,a:hover{
	background: #61849b;
	transition: .5s;
  }
  .checkbtn{
	font-size: 30px;
	color: rgb(7, 6, 6);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
  }
  #check{
	display: none;
  }
  .model{
	height:530px;
	width: 600px;
	position:absolute;
	bottom:40px;
	left:75%;
	transform: translateX(-75%);
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;
}
.text-container p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;
	
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size:30px;
	line-height:30px;
}
 
.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;
	
}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}

.down-cv{
	background-color:#0B0B0B;
	color:#fff;	
	border:none;
}
button:active{
	transform:scale(1.1);
}
  @media (max-width: 952px){
	label.logo{
	  font-size: 30px;
	  padding-left: 50px;
	}
	nav ul li a{
	  font-size: 16px;
	  
	}
  }
  
  @media (max-width: 858px){
	.checkbtn{
	  display: block;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #d7dee6;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	  list-style-type: circle;
	}
	nav ul li{
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a{
	  font-size: 20px;
	}
	a:hover,a.active{
	  background: none;
	  color: #0082e6;
	}
	#check:checked ~ ul{
	  left: 0;
	}
  }
  section{
	
	background: url(bg1.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
	position: relative;
	
  }

  .section-main{
	background: url(bg1.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
	position: absolute;
	overflow: auto;
  }

  .timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	color:black;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	color:black;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
  }
  .container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
	left: 0;
  }
  
  /* Place the container to the right */
  .right {
	left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
	left: -16px;
  }
  
  /* The actual content */
  .content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
  }

  ul.a {
	list-style-type: circle;
  }
  

  


  







  .about-container{
	
	background:#ffffff;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -1%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
	width: 1000px;
  height: 500px;
}
.about-container img{
	height:250px;
}
.about-text{
	width:500px;
} 
.about-text p:nth-child(1){
	color:#403e3e;
	font-family: myriad pro;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:13px;
	font-family: myriad pro;
	font-weight:bold;
	line-height:5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#7e7d7d;
	font-family:calibri;
	font-size:16px;
}
.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}





  .home-area,.about-area, .education-area, .skill-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.home-area{
	background-color: #262626;
}
.text-part{
    width: 65%;
    height: 80%;
}        
.about-area{
    background-color: #fefefe;
}
.education-area{
    background-color: #262626;
	color: #fff;
	height: 850px;
}
.skill-area{
    background-color: #fefefe;
}
.contact-area{
    background-color: #262626;
    color: #fff;
}
  